workflows/workflow-5.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "n1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an educational content formatter. Convert topic explanations into clean, well-structured HTML for PDF generation. Use only: h1, h2, h3, p, ul, ol, li, strong, em, table, tr, th, td tags. Include proper CSS styling inline.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Format this topic as a beautiful educational PDF document:\\n\\nTopic: {{ $json.topic }}\\n\\nContent: {{ $json.content }}\\n\\nCreate a complete HTML document with:\\n- University header (Northumbria University Masters in AI Technology)\\n- Topic title as h1\\n- Well-structured sections with h2 headings\\n- Key Takeaways section at the end (3-5 bullet points)\\n- Professional styling with inline CSS\\n- Font: Arial, Background: white, Text: #333\\n- Include page-break-friendly CSS\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000\n}",
        "options": {}
      },
      "id": "n2",
      "name": "Format HTML Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZQgh8pCPX1lVqk8F",
          "name": "OpenAI HTTP Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "html_content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "topic",
              "value": "={{ $('Execute Workflow Trigger').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "chat_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "telegram_user_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.telegram_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "n3",
      "name": "Extract HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": \"{{ $json.html_content }}\",\n  \"landscape\": false,\n  \"use_print\": false,\n  \"wait_until\": \"networkidle0\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n4",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "name": "={{ $('Extract HTML').item.json.topic.replace(/[^a-zA-Z0-9]/g, '_') }}_{{ new Date().toISOString().slice(0,10) }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "GENERATED_PDFS_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "n5",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_URL/rest/v1/user_sessions?telegram_user_id=eq.={{ $('Extract HTML').item.json.telegram_user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": \"awaiting_podcast\",\n  \"pending_podcast_topic\": \"{{ $('Extract HTML').item.json.topic }}\",\n  \"pending_pdf_drive_id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "id": "n6",
      "name": "Save Drive ID to Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Extract HTML').item.json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "=📄 Here's your PDF summary of *{{ $('Extract HTML').item.json.topic }}*",
          "parse_mode": "Markdown"
        }
      },
      "id": "n7",
      "name": "Send PDF to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1760,
        304
      ],
      "webhookId": "eb6e8eaf-b994-461d-aa9e-3309fb1981cd",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract HTML').item.json.chat_id }}",
        "text": "=🎙️ *Want a podcast version?*\n\nI can turn this summary into an audio conversation between two AI hosts discussing *{{ $('Extract HTML').item.json.topic }}*.\n\nReply *Yes* or *No*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "n8",
      "name": "Ask About Podcast",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2000,
        304
      ],
      "webhookId": "9e5f7696-7f4c-4c8a-81f4-040380607994",
      "credentials": {}
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Format HTML Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Content": {
      "main": [
        [
          {
            "node": "Extract HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Save Drive ID to Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Drive ID to Session": {
      "main": [
        [
          {
            "node": "Send PDF to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PDF to Telegram": {
      "main": [
        [
          {
            "node": "Ask About Podcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "003f7a4d56fcd4014579fe67a919f4803674097dac75a797d418243404702c17"
  }
}