workflows/workflow-6.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "n1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.pdf_drive_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "n2",
      "name": "Download PDF from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "n3",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "pdf_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "topic",
              "value": "={{ $('Execute Workflow Trigger').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "chat_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "telegram_user_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.telegram_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "n4",
      "name": "Store Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are writing scripts for an educational podcast app. Write natural, engaging two-host conversations. Format EXACTLY with each line starting with either 'ALEX:' or 'SAM:' - no other format.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a podcast script about this topic for Masters in AI Technology students.\\n\\nTopic: {{ $json.topic }}\\n\\nSource content:\\n{{ $json.pdf_text.slice(0, 3000) }}\\n\\nHosts:\\n- ALEX: curious, asks great questions, represents the student perspective\\n- SAM: knowledgeable, explains clearly with analogies and real examples\\n\\nRules:\\n- Format EVERY line as: ALEX: [text] or SAM: [text]\\n- Keep total under 1500 words to fit ElevenLabs free tier\\n- Cover all key points from the content\\n- Use analogies and real-world examples\\n- End with SAM summarizing 3 key takeaways\\n- Conversational, enthusiastic tone\\n\\nStart with ALEX introducing the topic.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000\n}",
        "options": {}
      },
      "id": "n5",
      "name": "Generate Podcast Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZQgh8pCPX1lVqk8F",
          "name": "OpenAI HTTP Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content;\nconst lines = content.split('\\n').filter(l => l.trim().length > 0);\n\n// ElevenLabs voice IDs (free tier voices)\nconst ALEX_VOICE = 'EXAVITQu4vr4xnSDxMaL'; // Rachel\nconst SAM_VOICE = 'pNInz6obpgDQGcFmaJgB';  // Adam\n\nconst segments = [];\nfor (const line of lines) {\n  const alexMatch = line.match(/^ALEX:\\s*(.+)/);\n  const samMatch = line.match(/^SAM:\\s*(.+)/);\n  if (alexMatch && alexMatch[1].trim()) {\n    segments.push({ text: alexMatch[1].trim(), voice_id: ALEX_VOICE, speaker: 'Alex' });\n  } else if (samMatch && samMatch[1].trim()) {\n    segments.push({ text: samMatch[1].trim(), voice_id: SAM_VOICE, speaker: 'Sam' });\n  }\n}\n\nreturn segments.map(s => ({ json: s }));"
      },
      "id": "n6",
      "name": "Parse Script into Segments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "n7",
      "name": "Process Each Segment",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"model_id\": \"eleven_monolingual_v1\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75,\n    \"style\": 0.3,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_data"
            }
          }
        }
      },
      "id": "n8",
      "name": "Generate Audio Segment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "audio_data",
              "value": "={{ $json.audio_data }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "segment_index",
              "value": "={{ $itemIndex }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "speaker",
              "value": "={{ $('Parse Script into Segments').item.json.speaker }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "n9",
      "name": "Add Segment Index",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "audio_segments",
        "options": {}
      },
      "id": "n10",
      "name": "Collect All Audio",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2512,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all audio binary buffers into one MP3\nconst items = $input.first().json.audio_segments;\n\n// Each item has binary data from ElevenLabs\n// We collect all base64 audio data\nconst audioBuffers = items\n  .filter(item => item.audio_data)\n  .map(item => Buffer.from(item.audio_data, 'base64'));\n\nif (audioBuffers.length === 0) {\n  throw new Error('No audio segments received from ElevenLabs');\n}\n\nconst combined = Buffer.concat(audioBuffers);\nconst topic = $('Execute Workflow Trigger').item.json.topic;\nconst chatId = $('Execute Workflow Trigger').item.json.chat_id;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    topic: topic,\n    segment_count: audioBuffers.length,\n    filename: `${topic.replace(/[^a-zA-Z0-9]/g, '_')}_podcast_${new Date().toISOString().slice(0,10)}.mp3`\n  },\n  binary: {\n    podcast_audio: {\n      data: combined.toString('base64'),\n      mimeType: 'audio/mpeg',\n      fileName: `podcast_${new Date().toISOString().slice(0,10)}.mp3`\n    }\n  }\n}];"
      },
      "id": "n11",
      "name": "Combine Audio Segments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        304
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "podcast_audio",
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "GENERATED_PDFS_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "n12",
      "name": "Upload Podcast to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3008,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Combine Audio Segments').item.json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "=🎙️ *Podcast: {{ $('Combine Audio Segments').item.json.topic }}*\n\nTwo AI hosts (Alex & Sam) discuss the key concepts from your PDF summary.",
          "parse_mode": "Markdown"
        }
      },
      "id": "n13",
      "name": "Send Podcast Audio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3264,
        304
      ],
      "webhookId": "7f2f6858-5331-4aa6-b9af-c3d0326c854e",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "={{ $('Combine Audio Segments').item.json.chat_id }}",
        "text": "=🎧 Your podcast is ready! Alex and Sam just discussed *{{ $('Combine Audio Segments').item.json.topic }}* in {{ $json.segment_count > 10 ? 'depth' : 'a quick overview' }}.\n\nReady to test yourself? Type `/quiz {{ $('Combine Audio Segments').item.json.topic }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "n14",
      "name": "Send Podcast Follow-up",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3504,
        304
      ],
      "webhookId": "227a481c-1451-41e5-93f5-c9e909180122",
      "credentials": {}
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Download PDF from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from Drive": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Store Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Context": {
      "main": [
        [
          {
            "node": "Generate Podcast Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Podcast Script": {
      "main": [
        [
          {
            "node": "Parse Script into Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script into Segments": {
      "main": [
        [
          {
            "node": "Process Each Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Segment": {
      "main": [
        [
          {
            "node": "Generate Audio Segment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect All Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio Segment": {
      "main": [
        [
          {
            "node": "Add Segment Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Segment Index": {
      "main": [
        [
          {
            "node": "Process Each Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Audio": {
      "main": [
        [
          {
            "node": "Combine Audio Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Audio Segments": {
      "main": [
        [
          {
            "node": "Upload Podcast to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Podcast to Drive": {
      "main": [
        [
          {
            "node": "Send Podcast Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Podcast Audio": {
      "main": [
        [
          {
            "node": "Send Podcast Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "003f7a4d56fcd4014579fe67a919f4803674097dac75a797d418243404702c17"
  }
}