workflows/workflow-1.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "f59f51e2-3c6d-46a8-9a18-12920fd74da5",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -3744,
        5792
      ],
      "webhookId": "1d2c26e1-719b-47cc-b017-7c21d2958c65",
      "credentials": {
        "telegramApi": {
          "id": "ZIPMmRDm8REbSsV9",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "telegram_user_id",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "username",
              "value": "={{ $json.message.from.username || $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "raw_message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "87f0214c-01e3-49b7-b430-740eaf5bf2d6",
      "name": "Extract User Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3488,
        5792
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_sessions",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'telegram_user_id=eq.' + $json.telegram_user_id }}"
      },
      "id": "9a60ab56-dab3-423e-9eec-1dd8f92012bb",
      "name": "Get User Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3264,
        5792
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OWTKiiMsz98vBo5M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.telegram_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f7e446f8-71cf-4f5e-8943-494d0901fc96",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3008,
        5776
      ]
    },
    {
      "parameters": {
        "tableId": "user_sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_user_id",
              "fieldValue": "={{ $('Extract User Context').item.json.telegram_user_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $('Extract User Context').item.json.username }}"
            },
            {
              "fieldId": "mode",
              "fieldValue": "chat"
            },
            {
              "fieldId": "current_module"
            },
            {
              "fieldId": "quiz_state"
            },
            {
              "fieldId": "pending_podcast_topic"
            },
            {
              "fieldId": "pending_pdf_drive_id"
            },
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Extract User Context').item.json.chat_id }}"
            }
          ]
        }
      },
      "id": "5bcbb36b-c810-4d90-8b9e-f101137982c4",
      "name": "Create User Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2800,
        5632
      ],
      "credentials": {
        "supabaseApi": {
          "id": "OWTKiiMsz98vBo5M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "telegram_user_id",
              "value": "={{ $('Extract User Context').item.json.telegram_user_id }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "chat_id",
              "value": "={{ $('Extract User Context').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "username",
              "value": "={{ $('Extract User Context').item.json.username }}",
              "type": "string"
            },
            {
              "id": "b4",
              "name": "raw_message",
              "value": "={{ $('Extract User Context').item.json.raw_message }}",
              "type": "string"
            },
            {
              "id": "b5",
              "name": "session_mode",
              "value": "={{ $json.mode ?? 'chat' }}",
              "type": "string"
            },
            {
              "id": "b6",
              "name": "current_module",
              "value": "={{ $json.current_module ?? '' }}",
              "type": "string"
            },
            {
              "id": "b7",
              "name": "quiz_state",
              "value": "={{ $json.quiz_state ?? null }}",
              "type": "string"
            },
            {
              "id": "b8",
              "name": "pending_podcast_topic",
              "value": "={{ $json.pending_podcast_topic ?? '' }}",
              "type": "string"
            },
            {
              "id": "b9",
              "name": "pending_pdf_drive_id",
              "value": "={{ $json.pending_pdf_drive_id ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ef21b6cf-06a3-4529-bf60-05a248a186c8",
      "name": "Merge Session Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        5792
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.raw_message }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "a7cce727-575a-4b4a-bcb8-4ca6ed319db5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.raw_message }}",
                    "rightValue": "/quiz",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "38b06340-18e3-4f7c-a61f-445d28e28caa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quiz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.raw_message }}",
                    "rightValue": "/task",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "aad41245-574f-4e7e-8272-662bf23cac0b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.raw_message }}",
                    "rightValue": "/week",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "36dd4809-460a-44a4-a509-92e704b93691"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "week"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session_mode }}",
                    "rightValue": "quiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0b2ee755-f9ca-459e-bf3a-b7e33fb609fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quiz_continue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session_mode }}",
                    "rightValue": "awaiting_podcast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dcd1e189-3cb7-4a73-b2e7-3ee38f091481"
                  },
                  {
                    "leftValue": "={{ $json.raw_message.toLowerCase().includes('yes') || $json.raw_message.toLowerCase().includes('si') || $json.raw_message === '👍' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2b7709e7-da9e-4c06-9dba-3b3778c15ee4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "podcast_yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session_mode }}",
                    "rightValue": "awaiting_podcast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5b5348da-d6da-43e0-afb3-cff6ec609a4f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "podcast_no"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b478a519-714d-4db3-9f8b-c6ca7e5ff177",
      "name": "Route Message",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2144,
        5696
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Merge Session Data').item.json.raw_message }}",
        "options": {
          "systemMessage": "You are EduBot, an academic tutor for MSc Artificial Intelligence (Northumbria University).\n\nYour role is to explain concepts using ONLY retrieved course materials.\n\nSTRICT RULES:\n1. You MUST use the search_course_materials tool before answering any factual question.\n2. You MUST base your answer ONLY on retrieved content.\n3. You MUST cite the source filename clearly like: (Source: lecture1.pdf)\n4. If no relevant content is found, say:\n   \"I couldn't find this in the course materials. Would you like a general explanation instead?\"\n\nSTYLE RULES:\n- Write like a human tutor, not an AI assistant\n- Avoid generic phrases like \"Certainly\" or \"As an AI\"\n- Keep explanations natural, slightly conversational, and clear\n- Use simple analogies where helpful\n- Avoid overly perfect or robotic formatting\n\nSTRUCTURE:\n- Start with a short explanation\n- Then expand with key points\n- Keep paragraphs readable (not too long)\n\nINTERACTION RULES:\n- After every explanation, ask:\n  \"Would you like a PDF summary of this topic?\"\n- Suggest quizzes naturally:\n  \"I can also test you on this with a quick quiz if you want.\"\n\nERROR HANDLING:\n- If the question is unclear → ask a clarification question\n- If partially relevant → explain what is known and highlight limits\n\nNever fabricate citations. Never answer without retrieval."
        }
      },
      "id": "857d9ff9-3711-49bf-8c60-fb5a158bb8a9",
      "name": "AI Tutor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1664,
        6640
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge Session Data').item.json.telegram_user_id }}",
        "contextWindowLength": 10
      },
      "id": "04738491-59ca-4f4e-ab54-bd5ac32aa5a6",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1552,
        6848
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge Session Data').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2cd6c2c-5920-45d4-8d05-4a73ff37758c",
      "name": "Send Tutor Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1200,
        6640
      ],
      "webhookId": "70cf8a6b-6fc4-4cf6-907a-bc8483402bd7",
      "credentials": {
        "telegramApi": {
          "id": "ZIPMmRDm8REbSsV9",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ 'Give me a practical task for module: ' + $('Merge Session Data').item.json.current_module }}",
        "options": {
          "systemMessage": "You are a practical task dispatcher for Northumbria University Masters in AI Technology.\nGiven the module, provide a relevant practical task with a link.\n\nModule resource mapping:\n- \"Programming for AI\": Send a Google Colab link. Template: https://colab.research.google.com/\n- \"IoT for AI\": Send an Arduino/ESP32 project from https://create.arduino.cc/projecthub\n- \"Machine Learning on Cloud\": Reference AWS SageMaker or GCP Vertex AI labs\n- \"Leadership in Digital Age\": Provide a case study exercise\n- \"Information Governance and Cyber Security\": Reference OWASP labs or NIST framework\n- Other modules: Provide a relevant exercise description\n\nFormat response with: Task Title, Brief Description (2-3 sentences), Link or Instructions, and estimated time.\nNote: Replace placeholder links with the actual module resource links configured in the module_resources Supabase table."
        }
      },
      "id": "1478e8cf-aebd-443b-8291-f702dad690dd",
      "name": "Task AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -688,
        5888
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge Session Data').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1936c743-4e6f-40f4-9d8e-e9361a394cf1",
      "name": "Send Task Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -336,
        5888
      ],
      "webhookId": "f52385fe-f2bd-4c56-9cf5-89fae64e7306",
      "credentials": {
        "telegramApi": {
          "id": "ZIPMmRDm8REbSsV9",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge Session Data').item.json.chat_id }}",
        "text": "🎓 *Welcome to EduBot!*\n\nI'm your AI tutor for the Masters in AI Technology at Northumbria University.\n\n*What I can do:*\n📚 Answer questions about your modules\n📄 Generate PDF topic summaries\n🎙️ Create podcast versions of summaries\n🎮 Run interactive quizzes\n💻 Send practical tasks (Colab / Arduino)\n📅 Weekly briefings every Monday at 9am\n\n*Your modules:*\n1. Programming for AI\n2. IoT for AI\n3. Machine Learning on Cloud\n4. Leadership in Digital Age\n5. Professional Practice\n6. Contemporary Computing\n7. Information Governance & Cyber Security\n\n*Commands:*\n/quiz [topic] — start a quiz\n/task — get a practical task\n/week — see this week's schedule\n/help — show this message\n\nJust ask me anything to get started! 🚀",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "19f95007-90be-4648-bc23-7eeb1e178998",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -640,
        4848
      ],
      "webhookId": "681832b8-2471-41d3-88b2-90034b9e7c04",
      "credentials": {
        "telegramApi": {
          "id": "ZIPMmRDm8REbSsV9",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_sessions",
        "filterType": "string",
        "filterString": "={{ 'telegram_user_id=eq.' + $('Merge Session Data').item.json.telegram_user_id}}"
      },
      "id": "d7ba2baa-7a69-4b4d-9c41-ac4744564e4c",
      "name": "Get Podcast Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        6496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "OWTKiiMsz98vBo5M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge Session Data').item.json.chat_id }}",
        "text": "🎙️ Generating your podcast... this may take 1-2 minutes. I'll send it when it's ready!",
        "additionalFields": {}
      },
      "id": "61a0190e-8a0e-4d71-bbd9-7ab6c9c7da3b",
      "name": "Send Generating Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -432,
        6496
      ],
      "webhookId": "36290ad8-5050-46bc-874e-df93b02b8080",
      "credentials": {
        "telegramApi": {
          "id": "ZIPMmRDm8REbSsV9",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_sessions",
        "filterType": "string",
        "filterString": "={{ 'telegram_user_id=eq.' + $('Merge Session Data').item.json.telegram_user_id}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mode",
              "fieldValue": "chat"
            },
            {
              "fieldId": "pending_podcast_topic"
            },
            {
              "fieldId": "pending_pdf_drive_id"
            }
          ]
        }
      },
      "id": "1ebe4469-fd25-4600-8f1d-c00593b5aad9",
      "name": "Reset Mode After Podcast",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        6528
      ],
      "credentials": {
        "supabaseApi": {
          "id": "OWTKiiMsz98vBo5M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_sessions",
        "filterType": "string",
        "filterString": "={{ 'telegram_user_id=eq.' + $('Merge Session Data').item.json.telegram_user_id}}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mode",
              "fieldValue": "chat"
            },
            {
              "fieldId": "pending_podcast_topic"
            }
          ]
        }
      },
      "id": "64927d55-6070-4ed4-8052-85df32034bbb",
      "name": "Reset Podcast Mode",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        6736
      ],
      "credentials": {
        "supabaseApi": {
          "id": "OWTKiiMsz98vBo5M",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge Session Data').item.json.chat_id }}",
        "text": "No problem! Feel free to ask me anything else. 😊",
        "additionalFields": {}
      },
      "id": "d4c0e124-d11c-4e9f-9dc2-86047812a675",
      "name": "Send Podcast Decline",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -288,
        6752
      ],
      "webhookId": "5144fd87-f510-4bc1-87be-6cb3a191fc19",
      "credentials": {
        "telegramApi": {
          "id": "ZIPMmRDm8REbSsV9",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1808,
        6848
      ],
      "id": "663ffa0f-4d5f-4f20-bc58-8c321a379034",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "eoxfnoazHcfIJMuj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -816,
        6096
      ],
      "id": "bc33c4e9-b586-4619-ae27-de2203b13994",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "eoxfnoazHcfIJMuj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge Session Data').item.json.telegram_user_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        6080
      ],
      "id": "cc038265-e9f1-449e-94b1-c6ad7527f63a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HGTKe40OOC14aYC8",
          "mode": "list",
          "cachedResultUrl": "/workflow/HGTKe40OOC14aYC8",
          "cachedResultName": "EduBot - Workflow 4 - Quiz Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -672,
        5520
      ],
      "id": "13a107b8-02e8-4683-a7ec-b990acdc287b",
      "name": "Call 'EduBot - Workflow 4 - Quiz Engine'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fcPhP2Y6ejBGsRix",
          "mode": "list",
          "cachedResultUrl": "/workflow/fcPhP2Y6ejBGsRix",
          "cachedResultName": "EduBot - Workflow 3 - Weekly Briefing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -304,
        6256
      ],
      "id": "570b6b5c-7124-4fb3-8cc8-8963e8097f5b",
      "name": "Call 'EduBot - Workflow 3 - Weekly Briefing'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HGTKe40OOC14aYC8",
          "mode": "list",
          "cachedResultUrl": "/workflow/HGTKe40OOC14aYC8",
          "cachedResultName": "EduBot - Workflow 4 - Quiz Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1936,
        5792
      ],
      "id": "b555c87b-93ee-4059-ab8c-f256cfda1910",
      "name": "Call 'EduBot - Workflow 4 - Quiz Engine'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IBeKQaXqClGUnVwZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/IBeKQaXqClGUnVwZ",
          "cachedResultName": "EduBot - Workflow 6 - Podcast Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        6496
      ],
      "id": "8687a796-5227-424c-9145-32afc3682074",
      "name": "Call 'EduBot - Workflow 6 - Podcast Generator'"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Context": {
      "main": [
        [
          {
            "node": "Get User Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Session": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Create User Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User Session": {
      "main": [
        [
          {
            "node": "Merge Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Data": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'EduBot - Workflow 4 - Quiz Engine'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'EduBot - Workflow 3 - Weekly Briefing'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'EduBot - Workflow 4 - Quiz Engine'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Podcast Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Podcast Mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Tutor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Tutor Agent": {
      "main": [
        [
          {
            "node": "Send Tutor Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Tutor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Task AI Agent": {
      "main": [
        [
          {
            "node": "Send Task Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Podcast Data": {
      "main": [
        [
          {
            "node": "Send Generating Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Generating Message": {
      "main": [
        [
          {
            "node": "Call 'EduBot - Workflow 6 - Podcast Generator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Podcast Mode": {
      "main": [
        [
          {
            "node": "Send Podcast Decline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Tutor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Task AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Task AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'EduBot - Workflow 6 - Podcast Generator'": {
      "main": [
        [
          {
            "node": "Reset Mode After Podcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "003f7a4d56fcd4014579fe67a919f4803674097dac75a797d418243404702c17"
  }
}